.Activity:not(:last-child) {
  margin-bottom: 20px;
}

.Activity__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}

.Activity__aside {
  text-align: right;
}

.Activity__asideTitle {
  margin-top: 0;
  margin-bottom: 5px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  text-align: right;
  text-decoration: none;
  color: #458baf;
}

.Activity__asideTitle:hover {
  border-bottom: 1px solid;
}

.Activity__asideSubtitle {
  --offset-vertical-outer: 0;

  margin-top: var(--offset-vertical-outer);
  margin-bottom: var(--offset-vertical-outer);
  text-align: right;
}

.Activity__list {
  --spacing: 8px;

  margin-top: 0;
  padding-left: 0;
}

.Activity__listItem {
  --delimeter-size: 5px;

  display: inline-block;
}

.Activity__listItem:not(:first-child) {
  margin-left: var(--spacing);
  position: relative;
}

.Activity__listItem:not(:first-child)::before {
  margin-right: var(--spacing);
  width: var(--delimeter-size);
  height: var(--delimeter-size);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background: currentColor;
  content: '';
}

.Activity__description {
  margin-bottom: 0;
}
