.Columns {
  display: flex;
}

.Columns__column {
  --offset-horizontal-inner: 16px;

  padding-left: var(--offset-horizontal-inner);
  padding-right: var(--offset-horizontal-inner);
}

.Columns__column--left {
  --size-horizontal: 250px;

  min-width: var(--size-horizontal);
  width: var(--size-horizontal);
}

.Columns__column--right {
  flex-grow: 1;
}

@media (max-width: 768px) {
  .Columns {
    flex-direction: column;
  }

  .Columns__column {
    --offset-horizontal-inner: 8px;
  }

  .Columns__column--left {
    width: auto;
    min-width: auto;
  }
}
